
{{#if userID}}
<div class="topnav">
  <img class="logo" src="/img/logo.png">
  <a class="active" href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/history">Swap History</a>
  <a href="/{{this.userID}}/swaps">Swap Notification</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>

</div>
{{/if}}

<h2>Welcome to Your User Account Page</h2>

<p>View Your Account Information:</p>




<div id="userAcctInfo">

  <table id='header-table'>
      <thead>
          <tr>
            <th><button id="User-Profile">User Profile</botton></th>
            <th><button id="Swap-History">Swap History</button></th>
          </tr>
    </thead>
  </table>

  <table >
      <thead>
          <tr>
            <th>
              <table id="inner-table">
              <thead>

                  <th>Username</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Street Address</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Zip Code</th>
                  <th>Available Points</th>
                  <th>Pending Points</th>
        {{!--     <th>Completed Swaps</th>
                  <th>Pending Swaps</th>
         --}}
              </thead>
              <thead>

                  {{#if userInfo}}
                  {{#each userInfo}}

                      <td id="Acc-info-field">{{username}}</td>
                      <td id="Acc-info-field">{{firstName}}</td>
                      <td id="Acc-info-field">{{lastName}}</td>
                      <td id="Acc-info-field">{{street}}</td>
                      <td id="Acc-info-field">{{city}}</td>
                      <td id="Acc-info-field">{{state}}</td>
                      <td id="Acc-info-field">{{zipCode}}</td>
                      <td id="Acc-info-field">{{availablePoints}}</td>
                      <td id="Acc-info-field">{{pendingPoints}}</td>
          {{!--             <td>{{this.complSwap}}</td>
                      <td>{{this.pendSwap}}</td>
           --}}
                  {{/each}}
              <thead>
        </table>

    </div>
    <div id="account-update-form">
      <form method = "post">
          {{#if userInfo}}
              {{#each userInfo}}
                    <fieldset >
                        <legend>Edit Profile Information:</legend>
                        <label hidden>
                            <input type ="text" name ="usrnm" value="{{this.username}}">
                        </label>
                        <label id="update-fields">
                            <input type ="text" name ="firstName" value="{{this.firstName}}">
                        </label>
                        <label id="update-fields">
                            <input type ="text" name ="lastName" value="{{lastName}}">
                        </label>
                        <label id="update-fields">
                            <input type ="text" name ="steet" value="{{street}}">
                        </label>
                        <label id="update-fields">
                            <input type ="text" name ="city" value="{{city}}">
                        </label>
                        <label id="update-fields">
                            <input type ="text" name ="state" value="{{state}}">
                        </label>
                        <label id="update-fields">
                            <input type ="text" name ="zipCode" value="{{zipCode}}">
                        </label>

                        <p><input type="Submit" name="accountUpdate" id="accountUpdate" value="Save Update"></p>
                    </fieldset>
                      <p></p>
                {{/each}}
            {{/if}}
       </form>
    </div>
    <div id="header-table-3" style="display: none;">
        <h1>THIS IS A SWAP HISTORY PAGE WHERE USERS WILL RECEIVE SWAPS - UNDER CONSTRUCTION</h1>
    </div>

        </th>
      </tr>
    </thead>
  </table>

    {{else}}
        <div class="warnText">No User Account Information Available<br><br>
        </div>
    {{/if}}
  </div>

<footer>© Elvis Press Leaves</footer>
<script src="/account.js" charset="utf-8" defer></script>
