{{!-- Standard Nav Bar on logged in pages --}}
{{#if userID}}
<div class="topnav">
  <img class="logo" src="/img/logo.png">
  <a  class="active" href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/manage">Manage Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}


<h2>Welcome to Your User Account Page</h2>

<div id="userAcctInfo">

  <table id='header-table'>
      <thead>
          <tr>
            <th><button id="User-Profile">User Profile</botton></th>
            <th><button id="Swap-History">Swap History</button></th>
          </tr>
    </thead>
  </table>

  <div id="inner-table">
      <table>
          <thead>
              <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Available Points</th>
                <th>Pending Points</th>
                <th>Books Not Sent</th>
                <th>Books Not Received</th>
              </tr>
          </thead>
          <tbody>
          {{!-- Load user's account info with helpers --}}
          {{#if userInfo}}
          {{#each userInfo}}
            <tr>
              <td>{{username}}</td>
              <td>{{firstName}}</td>
              <td>{{lastName}}</td>
              <td>{{street}}</td>
              <td>{{city}}</td>
              <td>{{state}}</td>
              <td>{{zipCode}}</td>
              <td>{{availablePoints}}</td>
              <td>{{pendingPoints}}</td>
              <td>{{notSent}}</td>
              <td>{{notReceived}}</td>
            </tr>
          {{/each}}
          </tbody>
      </table>
  </div>
  {{!-- Warning if no account information found --}}
  {{else}}
  <div class="warnText">No User Account Information Available<br><br></div>
  {{/if}}
  {{!-- Update fields for account info --}}
  <p>Update Your Account Information Here:</p>

  <form method = "post" id="account-update-form">
  {{#if userInfo}}
  {{#each userInfo}}
    <fieldset>
      <legend>Update Selected Account Information:</legend>
        <label hidden>Username:
          <input type ="text" name ="usrnm" value="{{this.username}}">
        </label>
        <label>First Name:
          <input type ="text" name ="firstName" value="{{this.firstName}}">
        </label><br><br>
        <label>Last Name:
          <input type ="text" name ="lastName" value="{{lastName}}">
        </label><br><br>
        <label>Street Address:
          <input type ="text" name ="steet" value="{{street}}">
        </label><br><br>
        <label>City:
          <input type ="text" name ="city" value="{{city}}">
        </label><br><br>
        <label>State:
          <input type ="text" name ="state" value="{{state}}">
        </label><br><br>
        <label>Zip Code:
          <input type ="text" name ="zipCode" value="{{zipCode}}">
        </label><br><br>

        <p><input type="Submit" name="accountUpdate" id="accountUpdate" value="Update Account"></p>
    </fieldset>
  {{/each}}
  {{/if}}
  </form>
  
  <div id="header-table-3" style="display: none">
    <p>Below are the completed swaps you've participated in.  Green points are books that you sent to the user.  Red points are books that you received from the user.</p>
    {{#if history}}
    <table>
      <thead>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Condition</th>
        <th>Points</th>
        <th>Traded With</th>
        <th>Swap Date</th>                      
      </thead>
      <tbody>
      {{#each history as |swap|}}
        <tr>
          <td>{{swap.title}}</td>
          <td>{{swap.author}}</td>
          <td>{{swap.isbn}}</td>
          <td>{{comp swap.condition}}</td>
          {{#each @root.userInfo as |usr|}}
          <td style="color:{{ptClr swap.pointsTraded swap.senderName usr.username}}">{{addSub swap.pointsTraded swap.senderName usr.username}}</td>
          <td><a href="/{{usr.id}}/viewshelf/{{trdPtr swap.senderID swap.receiverID usr.id}}">{{trdPtr swap.senderName swap.reqName usr.username}}</a></td>
          {{/each}}
          <td>{{swap.swapDate}}</td>                      
        </tr>
      {{/each}}
      </tbody>
    </table>
    {{else}}
    <p>You haven't swapped any books yet.  Add books for users to request or head to our browse page to request one.</p>
    {{/if}}
  </div>

<footer>© Elvis Press Leaves</footer>
<script src="/account.js" charset="utf-8" defer></script>
