{{#if userID}}
<div class="topnav">
  <img class="logo" src="/img/logo.png">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/manage">Manage Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>
{{/if}}

{{#each swaps}}
<div id="receiptPrompt">
    <h2>Confirm Receipt</h2>

    <p>You are marking {{this.title}} by {{this.author}} from {{this.senderName}} as received. This will complete your swap and be added to your swap history.</p>

    <button id="receiveSwap">CONFIRM</button>

    <div id="hiddenValues">
        <input id="swapID" name="swapID" type="hidden" value={{this.id}}>
        <input id="recID" name="recID" type="hidden" value={{this.receiverID}}>
        <input id="sendID" name="sendID" type="hidden" value={{this.senderID}}>
        <input id="ptsAmt" name="ptsAmt" type="hidden" value={{this.pointsTraded}}>
    </div>
</div>
{{/each}}

<div id="receiptSuccess">
    <h2>CONGRATULATIONS AND ENJOY YOUR BOOK!</h2>
</div>


<div id="receiptError">
    <h2>Oops!  Something went wrong.  Try again.</h2>
</div>

<footer>© Elvis Press Leaves</footer>

<script src="/received.js"></script>
