{{#if userID}}
<div class="topnav">
  <img class="logo" src="/img/logo.png">
  <a href="/{{this.userID}}/account">Account</a>
  <a class="active" href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/manage">Manage Swaps</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>

<input id="user" name="user" type="hidden" value={{this.userID}}>
{{/if}}

{{#if username}}
<h2><span id="username">{{this.username}}</span>'s Bookshelf</h2>
{{/if}}

{{#if bookList}}
<div class="shelf">
  {{#each bookList}}
    <div class="book">
        <div class="bookDetails">
            <p class="bookTitle"><i>{{this.title}}</i> by {{this.author}}</p>
            <p class="bookISBN">ISBN: {{this.isbn}}</p>            
            <p class="bookCondition">Condition: {{comp this.condition}}</p>            
            <p class="bookPoints">Point Value: {{this.condition}}</p>
            <button onclick="deleteBook({{this.bookID}}, {{this.condition}})">Delete Book from Shelf</button>
        </div>
    </div>
  {{/each}}
</div>
{{else}}
<p>You have no books currently available on your bookshelf</p>
{{/if}}

<div class="container-fluid">
  <div class="row mb-3">
      <div class="col text-center"><h5>Add A Book To Your Shelf</h5></div>
  </div>
  <div class="row mb-2">
      <div class="col text-center">
          <div class="row mb-2">
              <div class="col text-center">
                  <button id="addBook" class="btn btn-success" onclick=DisplayAddBook()>Add Book</button>
              </div>
          </div>
      </div>
      <div id="bookModal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header" id="modalHeader">
                      <h5 class="modal-title" id="modalTitle"></h5>
                  </div>
                  <div class="modal-body" id="modalBody">
                  </div>
              </div>
          </div>
      </div>
      <div class="d-none" id="addForm">
        <form>
          <div class="row mb-1">
              <div class="col">
                  <input name="title" id="book_name" class="form-control" placeholder="Title" required>
              </div>
          </div>
          <div class="row mb-1">
              <div class="col">
                  <input name="author" id="book_author" class="form-control" placeholder="Author" required>
              </div>
          </div>
          <div class="row mb-1">
              <div class="col">
                  <input name="ISBN" id="book_ISBN" type="text" class="form-control" placeholder="ISBN">
              </div>
          </div>
          <div class="row mb-1">
              <div class="col">
                  <select name="condition" id="book_condition" class="form-control">
                      <option value=1>Loved to Pieces (Rips, Water-Damage, Weak Bindings Present)</option>
                      <option value=2>Highlight Frenzy (Marks Present)</option>
                      <option value=3>Dog-Eared (Slightly Worn)</option>
                      <option value=4>Delicately Read (Like New)</option>
                      <option value=5>Fresh off the press! (New)</option>
                  </select>
                  <div class="modal-footer">
                      <button type="button" id="add_Book" class="btn btn-primary" onclick="return addBook()">Add Book</button>
                      <button type="button" id="closeBook" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
        </form>
      </div>
  </div>
</div>

<footer>© Elvis Press Leaves</footer>

<script src="https://kit.fontawesome.com/1e77617bd7.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="/bookScript.js"></script>
