{{#if userID}}
<div class="topnav">
  <img class="logo" src="/img/logo.png">
  <a href="/{{this.userID}}/account">Account</a>
  <a href="/{{this.userID}}/shelf">Bookshelf</a>
  <a href="/{{this.userID}}/history">Swap History</a>
  <a href="/{{this.userID}}/swaps">Swap Notification</a>
  <a href="/{{this.userID}}/browse">Browse</a>
  <a href="/">Logout</a>
</div>

<h2>{{this.username}}'s Bookshelf</h2>
{{/if}}

<h1>THIS IS A USER BOOKSHELF PAGE - UNDER CONSTRUCTION</h1>

<footer>© Elvis Press Leaves</footer>
